@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/agrandir.ttf") format("truetype");
}

@font-face {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/biotif.ttf") format("truetype");
}

:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #e5ff9c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Biotif, Arial, Helvetica, sans-serif;
}
