@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/agrandir.ttf") format("truetype");
}

@font-face {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/biotif.ttf") format("truetype");
}

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
